body {
  text-align: left;
    font-size: 1.2em;
    background-color: #ccc;
    margin: 40px;
    padding: 40px;
}

h1 {
  text-align: center;
}

h6 {
  text-align: center;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: right;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}
