body {
  text-align: left;
  background-color: #e1e4f6;
}
button {
  text-align: center;
  text-emphasis-color: white;
  background-color: #1515ed;
}
h1 {
  text-align: center;
}
h6 {
  text-align: center;
}
div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}
